<h1> James Higgins</h1>






<%= link_to image_tag("linkedin.png", alt: "Facebook", width: 350,), "https://www.linkedin.com/in/james-milan-higgins/", target: :_blank %>
<%= link_to image_tag("github.png", alt: "Facebook", width: 350,), "https://github.com/jamesmilanhiggins", target: :_blank %>
