<h1 class="my-header"> James Higgins</h1>
<hr>
<div class="my-images">
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <%= link_to image_tag("linkedin.png", alt: "Facebook", height: 180,), "https://www.linkedin.com/in/james-milan-higgins/", target: :_blank %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= link_to image_tag("github.png", alt: "Facebook", height: 200,), "https://github.com/jamesmilanhiggins", target: :_blank %>
</div>
