<h1> Home Index Page</h1>
  <%= link_to 'Search Flights',  flights_path %>

  <form class="" action="index.html" method="post">
    <input type="text" name="irport" value="airport" placeholder="Input Airport Code">
    <button type="submit" name="button">Search</button>
  </form>
<hr>
