<h1> Home Index Page</h1>
  <!-- <%= link_to 'Search Flights',  flights_path %> -->

  <form action="flights" >
    <input type="text" name="airport" >
    <input type="date" name="date" >
    <button class="btn btn-flight" type="submit" name="button">Search</button>
  </form>
<hr>
