<h1> Home Index Page</h1>
  <!-- <%= link_to 'Search Flights',  flights_path %> -->

  <form action="flights" >
    <input type="text" name="origin" placeholder="Origin">
    <input type="text" name="destination" placeholder="Destination">
    <input type="date" name="date" value="2017-12-12" >
    <button class="btn btn-flight" type="submit" name="button">Search</button>
  </form>
<hr>
