<h3>Welcome <%=current_user.email%></h3>
<h4>Your saved flights</h4>

<% current_user.user_flights.each do |flight| %>
Price worked<%= flight.price %>
<br>
<% end %>


<br>
<br>
if want to delet need to pass method
