<h1>Welcome <%=current_user.email%></h3>
<h2>Your saved flights</h4>

<% current_user.user_flights.each do |flight| %>
<h3><%= link_to "",  user_user_flight_path(current_user, flight), :method => "delete", class: "btn-red glyphicon glyphicon-remove" %>      $<%= flight.price %>
 </h3>
<br>
<% end %>
