<div class="about-page">

  <h1 class="my-header">About this Calculation</h1><br><br><br>
  <p>One may think a $79 flight from PDX to SEA is a great deal, but with my crazy complex algorition (miles divided by price), I have found much better deals</p>
  <br>
  <p>The trip to Seattle from Portland is about 176 miles. This trip has a Miles Per Dollar ratio of 2.2 (176 miles / $79 )</p>
  <br>
  <p>The flight may be cheap, but the distance is low, so this would not be that great of a deal</p>
  <br>
  <p>I have found good deals to have a Miles Per Dollar ration greater than 10</p>
</div>
