@import 'bootstrap-sprockets';
@import 'bootstrap';


body {
  // background-image: image-url('airplane.jpg');
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: none;



}
.nav-bar {
  height: 20%;
  display: block;
  border-color: #47BDE5;
  border-style: inset;
  border-width: thick;
  text-align: center;
  vertical-align: middle;

  h1 {
    font-size: 50px;
  }
  h1:hover {
  // font-size: 80px;
  }

}


.nav-bar:hover {
  background-color: #47BDE5;
}

.nav-left {
  height: 100%;
  display: block;
  overflow: hidden;  //code added to prevent scroll

}
.nav-body {
  height: 100%;
  display: block;
  overflow: auto;
}
// background blue #5EDFFF
// background dark blue #47BDE5

.btn-flight {
  background-color: #47BDE5;

}
/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
