@import 'bootstrap-sprockets';
@import 'bootstrap';


body {
  background-image: image-url('airplane.jpg');
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: none;
  font-family: 'Roboto', sans-serif;

}

.nav-bar {
  height: 25%;
  display: block;
  border-color: white;
  border-style: inset;
  border-width: thick;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 50px;

  }
  a {
    vertical-align: text-top;
    color: white;
  }
  h1 a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 55px;

  }

}
.btn-red {
  color: red;
}


.nav-bar:hover {
  background-color: #47BDE5;
}

.nav-left {
  height: 100%;
  display: block;
  overflow: hidden;  //code added to prevent scroll

}
.nav-body {
  height: 100%;
  display: block;
  overflow: auto;
}
.my-sign {
  text-align: right;
  margin-right: 15px;
}
// background blue #5EDFFF
// background dark blue #47BDE5

.btn-flight {
  background-color: #4885ed;

}
/* User sign in and sign forms. */
.border-form-div {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin-top: 15%;
  margin-left: 35%;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  text-align: center;
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  width: 400px;
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.flight-div {
font-size: 14px;

}
.best-flight-div {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 5px;


}
.best-flight-div:hover {
box-shadow: -35px 96px 1110px 16.4px black;



}
#first-nav{
  background-color: #3cba54;
}
#second-nav{
  background-color: #f4c20d;
}
#third-nav{
  background-color: #db3236;
}
#fourth-nav{
  background-color: #4885ed;
}
.saved-flights-page {
  text-align: right;
}
.saved-flights {
  text-align: center;

  h4 {
      font-size: 40px;
  }
}

.my-header {
  font-size: 80px;
  text-align: center;
}

.about-page {
  text-align: center;
  font-size: 30px;
  color: black;
}
